.container.large-8
  .panel
    .row
      %h2.center
        = @event.name
    %hr
    .row
      .large-4.columns
        .parameter
          - if @event.start_time || @event.end_time || @event.timezone
            %i.fi-clock
          - if @event.start_time
            = " #{Time.parse(@event.start_time).to_formatted_s(:long)}"
          - if @event.end_time
            %br>
            = Time.parse(@event.end_time).to_formatted_s(:long)
          - if @event.timezone
            %br>
            = @event.timezone
      - if @event.location
        .large-4.columns
          .parameter
            %i.fi-marker
            = " #{@event.location}"
      .large-4.columns
        - if @event.ticket_url
          .parameter
            %i.fi-ticket
            = link_to 'Ticket information', @event.ticket_uri, target: '_blank'
        - if @event.owner_name && @event.owner_url
          .parameter
            %i.fi-torsos-all
            = link_to @event.owner_name, @event.owner_url, target: '_blank'
        - elsif @event.owner_name
          .parameter
            %i.fi-torsos-all
            = @event.owner_name
    - if @event.venue
      %hr
      .row
        %iframe.map-content{ frameborder: '0', src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyDg6GEQ8n9OgKdu0Mx6wRXsc1nnm1aW0Gw&q=#{@event.venue[:latitude].to_s + ',' + @event.venue[:longitude].to_s}&zoom=18&language=en" }
    - if @event.description
      %hr
      .row
        %p= simple_format(@event.description)
    %hr
    .row
      .right.small
        = link_to @event.url, target: '_blank' do
          %i.fi-social-facebook
          Check more information
